* {
  font-family: 'Noto Sans KR', sans-serif;
}

.cont-movie {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 41px 28px 31px 29px;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 86px auto 135px;
}

.tit-movie {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 65px;
  font-family: 'Roboto';
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  color: #828282;
}

.menu-bar .li-menu {
  font-family: 'Roboto';
  display: inline;
}

.menu-bar .li-menu:first-child {
  color: #000000;
  font-weight: 900;
}

.menu-bar::after {
  content: '';
  position: absolute;
  width: 650px;
  height: 2px;
  bottom: 42px;
  display: inline-block;
  background-color: #BDBDBD;
}

.li-movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 28px;
  padding: 26px 27px 30px;
}

.li-movie .movie-wrapper {
  padding: 19px 20px 18px 20px;
}

.li-movie .li-item {
  width: 220px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 0px #0000004D;
          box-shadow: 0px 0px 5px 0px #0000004D;
}

.li-movie .li-item .img-movie {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.li-movie .li-item .tit-item {
  display: block;
  font-size: 16px;
  font-weight: 900;
  margin: 11px 0 16px;
}

.info-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.82px;
}

.info-item p {
  display: inline-block;
  margin-bottom: 5px;
}

.info-item p:last-child {
  margin-bottom: 0;
}

.info-item .tit-info {
  color: #828282;
  margin-right: 5px;
}

.info-item .rating {
  float: right;
}

.info-item .rating .img-star {
  width: 14px;
  margin-right: 4px;
  vertical-align: text-top;
}

.btn-group {
  background-color: #F2F2F2;
  border-top: 1px solid #BDBDBD;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-group a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 41px;
}

.btn-group .btn-buy {
  border-right: 1px solid #BDBDBD;
  padding: 0 28px 0 27px;
}

.btn-group .btn-teaser {
  padding: 0 32px 0 22px;
}

.btn-group img {
  width: 16px;
  vertical-align: text-top;
  margin-right: 3px;
}

.footer {
  height: 213px;
  position: relative;
  background-color: #F2F2F2;
  padding: 54px 0 38px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-inner {
  width: 1189px;
  margin: 0 auto;
}

.footer .tit-sns {
  margin-bottom: 78px;
}

.footer .tit-sns strong {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
}

.footer .tit-sns .img-group {
  float: right;
}

.footer .tit-sns .img-sns {
  width: 24px;
  margin-left: 24px;
}

.footer .cont-info {
  font-size: 14px;
  color: #4F4F4F;
  position: relative;
}

.footer .cont-info p {
  display: inline;
  margin-right: 20px;
}

.footer .cont-info p + p::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  position: absolute;
  margin: -2px -12px;
  vertical-align: -2px;
  background-color: #4F4F4F;
}

.footer .cont-info span {
  margin-right: 5px;
  font-weight: 700;
}

.footer .cont-info .copyright {
  float: right;
}

.footer .cont-info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  margin: -40px 0;
  background-color: #C4C4C4;
}
/*# sourceMappingURL=style.css.map */