body{
    font-family: 'Noto Sans KR', sans-serif;
}

.cont-movie{
    width: fit-content;
    box-sizing: border-box;
    margin: 86px auto 135px;
    padding: 41px 28px 31px 29px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.tit-movie{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto';
}

.txt-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-bar{
    display: flex;
    // position: relative;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 650px;
    height: 75px;
    border-top: 2px solid #BDBDBD;
    margin: 37px auto 0;

    .li-nav {
        font-family: 'Roboto';
        // display: inline;
        text-decoration: none;
        color: #828282;
    }
    .active {
        color: #000000;
        font-weight: 900;
    }
}

.li-movie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 23px;
    box-sizing: border-box;
    padding: 26px 27px 30px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    background-color: #FFFFFF;

    .movie-wrapper{
        padding:19px 20px 18px 20px;
    }

    .li-item{
        width: 220px;
        border-radius: 10px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px 0px #0000004D;

        .img-movie{
            width: 180px;
            height: 250px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 1px solid #BDBDBD;
            box-shadow: 0px 4px 4px 0px #00000040;
        }

        .tit-item{
            display: block;
            margin: 11px 0 12px;
            font-size: 16px;
            font-weight: 900;
            line-height: 23.17px;
        }
    }
}

.info-item {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.82px;

    div{
        margin-bottom: 5px;
        display: inline-block;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .tit-info{
        display: inline;
        color: #828282; 
        margin-right: 5px;
    }

    dd{
        display: inline;
    }

    .rating{
        float: right;
        .tit-info{
            margin-right: 0;
        }
        dd::before{
            content: '';
            display: inline-block;
            margin-right: 4px;
            width: 14px;
            height: 14px;
            background: url(./imgs/star.png) no-repeat;
            background-size: 14px 14px;
            vertical-align: -1px;
        }
    }
}

.btn-group{
    background-color: #F2F2F2;
    border-top: 1px solid #BDBDBD;
    border-radius: 0 0 10px 10px;
    line-height: 20.27px;
    font-size: 0;

    a{
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
    }

    .btn-buy{
        padding: 9px 28px 12px 27px;
        }

    .btn-teaser{
        padding: 9px 30px 12px 22px;
        border-left: 1px solid #BDBDBD;
        &::before{
            content: '';
            width: 16px;
            height: 16px;
            margin-right: 2px;
            display: inline-block;
            background-image: url(./imgs/playbtn.png);
            background-size: 16px 16px;
            background-repeat: no-repeat;
            vertical-align: -4px;
        }
    }
}

// footer
.footer{
    height: 213px;
    padding: 54px 0 38px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    &-inner{
        width: 1189px;
        margin: 0  auto;
    }

    .tit-sns{
        height: 66px;
        border-bottom: 1px solid #C4C4C4 ;
        margin-bottom: 36px;

        .tit-footer{
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 700;
        }

        .img-group{
            float: right; 
            li{
                display: inline;
            }
        }
        .img-sns{
            width: 24px;
            margin-left: 24px;
        }
    }

    .cont-info{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #4F4F4F;

        dt, dd{
            display: inline;
            margin-right: 5px;
        }
        dt{
            font-weight: 700;
        }
        .line-up{
            margin-left: 5px;
            &::before{
                content: '';
                width: 1px;
                height: 16px;
                position: absolute; 
                margin: 0 -7px;
                background-color: #4F4F4F;
            }
        }
        .copyright{
            margin-left: 30px;
            dt{
                margin-right: 0;
            }
        }
    }
}



@media only screen and (max-width:576px){
    body{
        width: fit-content;
    }

    .cont-movie{
        background-color: #FFFFFF;
        border: none;
    }

    .nav-bar{
        width: 450px;
    }

    .li-movie{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-inner{
        width: auto;
        padding: 0 30px;
        .cont-info{
            dt,dd{
                line-height: 20px;
            }
            .line-up::before{
                margin: 3px -7px 0;
            }
        }
    }
}