*{
    font-family: 'Noto Sans KR', sans-serif;
}

.cont-movie{
    width: 1060px;
    padding: 41px 28px 31px 29px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    inset: 0;
    margin: 86px auto 135px;
}

.tit-movie{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 65px;
    font-family: 'Roboto';
}

.menu-bar{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: #828282;
    .li-menu{
        font-family: 'Roboto';
        display: inline;
        &:first-child{
            color: #000000;
            font-weight: 900;
        }
    }
    &::before{
        content: '';
        position: absolute;
        width: 650px;
        height: 2px;
        bottom: 42px;
        display: block;
        background-color: #BDBDBD;
    }
}

.li-movie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 23px;
    box-sizing: border-box;
    width: 1003px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 28px;
    padding: 26px 27px 30px;
    .li-item{
        display: inline-block;
        width: 220px;
        padding:19px 20px 0 20px;
        border-radius: 10px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px 0px #0000004D;

        .img-movie{
            width: 180px;
            height: 250px;
            border-radius: 10px;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px 0px #00000040;
        }

        .tit-item{
            display: block;
            font-size: 16px;
            font-weight: 900;
            margin: 11px 0 16px;
        }
    }
}

.info-item {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.82px;
    p{
        display: inline-block;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 18px;
        }
    }
    .tit-info{
        color: #828282;
        margin-right: 5px;
    }
    .rating{
        float: right;
        .img-star{
            width: 14px;
            margin-right:4px;
            vertical-align: text-top;
        }
    }
}

.btn-group{
    display: inline;
    img{
        width: 16px;
    }
}

// footer
.footer{
    height: 213px;
    position: relative;
    background-color: #F2F2F2;
    padding: 54px 0 38px 0;
    box-sizing: border-box;

    &-inner{
        inset: 0;
    }


    .tit-sns{
        strong{
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 700;
        }
        .img-sns{
            width: 24px;
        }
    }
}
