body {
  font-family: 'Noto Sans KR', sans-serif;
}

.cont-movie {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 41px 28px 31px 29px;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 86px auto 135px;
}

.tit-movie {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto';
}

.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  width: 650px;
  height: 75px;
  border-top: 2px solid #BDBDBD;
  margin: 37px auto 0;
}

.nav-bar .li-nav {
  font-family: 'Roboto';
  display: inline;
  text-decoration: none;
  color: #828282;
}

.nav-bar .active {
  color: #000000;
  font-weight: 900;
}

.li-movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 26px 27px 30px;
}

.li-movie .movie-wrapper {
  padding: 19px 20px 18px 20px;
}

.li-movie .li-item {
  width: 220px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 0px #0000004D;
          box-shadow: 0px 0px 5px 0px #0000004D;
}

.li-movie .li-item .img-movie {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.li-movie .li-item .tit-item {
  display: block;
  font-size: 16px;
  font-weight: 900;
  margin: 11px 0 12px;
  line-height: 23.17px;
}

.info-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.82px;
}

.info-item div {
  margin-bottom: 5px;
  display: inline-block;
}

.info-item div:last-child {
  margin: 0;
}

.info-item .rating {
  float: right;
}

.info-item .rating dt {
  margin-right: 0;
}

.info-item .rating dd::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(./imgs/star.png) no-repeat;
  background-size: 14px 14px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: -1px;
}

.info-item .tit-info {
  display: inline;
  color: #828282;
  margin-right: 5px;
}

.info-item dd {
  display: inline;
}

.btn-group {
  background-color: #F2F2F2;
  border-top: 1px solid #BDBDBD;
  border-radius: 0 0 10px 10px;
  line-height: 20.27px;
  font-size: 0;
}

.btn-group a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.btn-group .btn-buy {
  padding: 9px 28px 12px 27px;
}

.btn-group .btn-teaser {
  padding: 9px 30px 12px 22px;
  border-left: 1px solid #BDBDBD;
}

.btn-group .btn-teaser::before {
  content: '';
  width: 16px;
  height: 16px;
  margin: 2px 2px 0 0;
  margin-right: 2px;
  display: inline-block;
  background-image: url(./imgs/playbtn.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  vertical-align: -3.5px;
}

.footer {
  height: 213px;
  position: relative;
  background-color: #F2F2F2;
  padding: 54px 0 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-inner {
  width: 1189px;
  margin: 0  auto;
}

.footer .tit-sns {
  height: 66px;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 36px;
}

.footer .tit-sns .tit-footer {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
}

.footer .tit-sns .img-group {
  float: right;
}

.footer .tit-sns .img-group li {
  display: inline;
}

.footer .tit-sns .img-sns {
  width: 24px;
  margin-left: 24px;
}

.footer .cont-info {
  font-size: 14px;
  color: #4F4F4F;
  position: relative;
}

.footer .cont-info dt, .footer .cont-info dd {
  display: inline;
  margin-right: 5px;
}

.footer .cont-info dt {
  font-weight: 700;
}

.footer .cont-info .line-up {
  margin-left: 5px;
}

.footer .cont-info .line-up::before {
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  margin: 0 -7px;
  background-color: #4F4F4F;
}

.footer .cont-info .copyright {
  float: right;
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */